/** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/9/2014
 ** Sass Version by Seth Coelen https://github.com/whatsnewsaes */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 3%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 14.16667%; }

  .two.columns {
    width: 31.33333%; }

  .three.columns {
    width: 48.5%; }

  .four.columns {
    width: 65.66667%; }

  .five.columns {
    width: 82.83333%; }

  .six.columns {
    width: 100%; }

  .seven.columns {
    width: 117.16667%; }

  .eight.columns {
    width: 134.33333%; }

  .nine.columns {
    width: 151.5%; }

  .ten.columns {
    width: 168.66667%; }

  .eleven.columns {
    width: 185.83333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 65.66667%; }

  .two-thirds.column {
    width: 134.33333%; }

  .one-half.column {
    width: 100%; }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 17.16667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 34.33333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 51.5%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 68.66667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 85.83333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 103%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 120.16667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 137.33333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 154.5%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 171.66667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 188.83333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 68.66667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 137.33333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 103%; } }
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem; }

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 4.2rem; }

  h3 {
    font-size: 3.6rem; }

  h4 {
    font-size: 3rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0; }

a {
  color: #1eaedb; }
  a:hover {
    color: #1b9cc5; }

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

.button:focus,
button:focus {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0; }

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0; }

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0; }

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb; }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #33c3f0;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

header {
  text-align: center; }
  header img {
    margin: 0 auto; }

@media (min-width: 400px) {
  header img {
    width: 30%; } }
@media (min-width: 550px) {
  header {
    text-align: left; }
    header img {
      width: 90%; } }
header h1 {
  margin-top: 5%; }

.container {
  margin-top: 40px; }

input {
  font-size: 110%; }

input[name=message] {
  width: 100%; }

input[type=submit], button {
  width: 100%; }

.spacer10 {
  height: 10px; }

.spacer30 {
  height: 30px; }

.spacer50 {
  height: 50px; }

.spacer300 {
  height: 300px; }

.align-right {
  text-align: right; }
